<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Walmart.com: Save money. Live better."%></title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <%= stylesheet_link_tag "normalize", "all" %>
  </head>
  
  <body class="<%= page_classes %>">
    <header>
      <div class="container top-nav">

        <div class="row">
          <div class="col-xs-6">
            <a href="#" class="logo"></a>
          </div>
          <div class="col-xs-6">
            <ul class="list-inline mini-nav">
              <a href="#">Back to Walmart.com</a>
              <a href="#">Hello, Sign In</a>
              <a href="#" class="dropdown">My Photo Account</a>
              <a href="#">Help</a>
            </ul>
            <div class="input-group search-group">
              <input type="text" class="form-control search-bar pull-left" placeholder="Search Photo">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default glyphicon glyphicon-search search-btn"></button>
              </span>
              
            </form>
          </div>
        </div>
      </div>
      </header>
      <div class="main-nav">
        <div class="container">
          <div class="row">
            <div class="col-xs-6">
              <%= partial "partials/menu" %>
            </div>
            <div class="col-xs-6">
              <a href="#" class="shipping pull-right"> Photo Cart</a>
              <div class="cart-quantity">
                <p class="quantity">1</p>
              </div>
              <div class="glyphicon glyphicon-shopping-cart pull-right shipping"></div>
              
              <p class="shipping pull-right"> FREE SHIPPING on orders of $50 or more </p>
            </div>
            
          </div>
        </div>
      </div>
<!--     </header> -->
    <div class="container main">
      <%= yield %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <%= javascript_include_tag  "all" %>
  </body>
</html>